body {
  margin: 0;
  padding: 10vh 5vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  align-items: center;
  background-color: navy;
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  padding-left: 4vw;
  z-index: 1;
}

nav a {
  margin-left: 1vw;
}

h1 {
  color: white;
  margin: 1vh 0 0 0;
  background-color: rgba(0, 0, 0, 0);
}

#regions_div {
  margin-bottom: 2vh;
  border: 1px solid black;
}

#earth_div {
  text-align: center;
  margin-top: 8vh;
  height: 92vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  position: absolute !important;
  background-image: url("../images/stars.jpg");
  // filter: blue(0.2px);
}

.allTheCountries {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.countryInfo {
  width: 21vw;
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vh;
  border: 1px solid black;
}

.countryInfo img {
  width: 15vw;
  padding: 1px;
  background-color: black;
}

.countryDetailBody {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.countryDetailBody div {
  margin-right: 5vw;
}

.flagImage {
  height: 15vh;
}

.centerContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.theMap {
  width: 75vw;
  height: 65vh;
}
